In [77]:
import pandas as pd
import numpy as np
import holidays
from sklearn.preprocessing import OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline

In [4]:
df=pd.read_csv('./data/Sample Dataset.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39408 entries, 0 to 39407
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               39408 non-null  object
 1   Weekday            39408 non-null  object
 2   Hour               39408 non-null  int64
 3   HOEP               39408 non-null  float64
 4   Ontario_Demand     39408 non-null  int64
 5   Temperature        39408 non-null  float64
 6   Windchill_Index    39408 non-null  float64
 7   Wind_Speed         39408 non-null  int64
 8   Humidex            39408 non-null  float64
 9   Relative_Humidity  39408 non-null  int64
 10  Dew_Point          39408 non-null  float64
 11  Pressure_Station   39408 non-null  float64
dtypes: float64(6), int64(4), object(2)
memory usage: 3.6+ MB

In [9]:
df['Hour']=df['Hour'].astype(str)

In [11]:
df['Hour'] = df['Hour'].apply(lambda x: '%s:00:00' % x)

In [13]:
df.head()

,Date,Weekday,Hour,HOEP,Ontario_Demand,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station
0,2016-01-01,Friday,0:00:00,0.49,14023,-0.3,-5.62,20,-3.18,70,-5.1,99.67
1,2016-01-01,Friday,1:00:00,-1.09,13417,-0.3,-6.30,25,-3.48,68,-5.5,99.63
2,2016-01-01,Friday,2:00:00,-2.41,12968,-0.4,-6.55,26,-3.43,73,-4.7,99.59
3,2016-01-01,Friday,12:00:00,0.00,14215,-2.1,-8.72,23,-4.86,76,-5.8,99.39
4,2016-01-01,Friday,13:00:00,0.00,14443,-2.4,-8.23,19,-5.09,84,-4.7,99.35

In [15]:
df_orig = df.copy()

In [17]:
# Highlighting NaNs and reshaping dataframe
df_start = df[['Date', 'Weekday']].drop_duplicates()
df_end = df_start.copy()
df_start['Hour'] = '00:00:00'
df_end['Hour'] = '23:00:00'
df_comb = pd.concat([df_start,df_end])

# Datetime column (drop Hour columns)
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Hour)
df.drop('Hour', inplace=True, axis = 1)
df_comb['Datetime'] = pd.to_datetime(df_comb.Date + ' ' + df_comb.Hour)
df_comb.drop('Hour', inplace=True, axis = 1)

# Add NaNs
df = pd.concat([df, df_comb],  ignore_index=True)\
    .drop_duplicates(subset=['Weekday', 'Datetime'])

# Create the complete set of readings
df = df.groupby(['Date', 'Weekday'])\
    .apply(lambda x : x.set_index('Datetime').resample('h').mean().fillna(np.NaN))\
    .reset_index()
df.drop('Date', inplace=True, axis = 1)

In [18]:
df.head(49)

,Weekday,Datetime,HOEP,Ontario_Demand,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station
0,Friday,2016-01-01 00:00:00,0.49,14023.0,-0.3,-5.62,20.0,-3.18,70.0,-5.1,99.67
1,Friday,2016-01-01 01:00:00,-1.09,13417.0,-0.3,-6.30,25.0,-3.48,68.0,-5.5,99.63
2,Friday,2016-01-01 02:00:00,-2.41,12968.0,-0.4,-6.55,26.0,-3.43,73.0,-4.7,99.59
3,Friday,2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Friday,2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Friday,2016-01-01 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Friday,2016-01-01 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Friday,2016-01-01 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Friday,2016-01-01 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Friday,2016-01-01 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Friday,2016-01-01 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Friday,2016-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Friday,2016-01-01 12:00:00,0.00,14215.0,-2.1,-8.72,23.0,-4.86,76.0,-5.8,99.39
13,Friday,2016-01-01 13:00:00,0.00,14443.0,-2.4,-8.23,19.0,-5.09,84.0,-4.7,99.35
14,Friday,2016-01-01 14:00:00,0.00,14733.0,-2.4,-9.96,32.0,-5.42,81.0,-5.2,99.32
15,Friday,2016-01-01 15:00:00,0.00,14907.0,-2.2,-9.75,29.0,-5.59,71.0,-6.8,99.34
16,Friday,2016-01-01 16:00:00,0.00,14981.0,-2.3,-9.51,27.0,-5.79,68.0,-7.4,99.38
17,Friday,2016-01-01 17:00:00,1.00,15763.0,-3.1,-11.19,35.0,-5.82,71.0,-7.6,99.41
18,Friday,2016-01-01 18:00:00,6.34,16979.0,-2.9,-11.19,35.0,-6.39,71.0,-7.4,99.48
19,Friday,2016-01-01 19:00:00,5.88,16859.0,-2.8,-10.41,28.0,-6.34,73.0,-7.0,99.54
20,Friday,2016-01-01 20:00:00,5.81,16552.0,-3.1,-10.16,26.0,-6.22,73.0,-7.3,99.57
21,Friday,2016-01-01 21:00:00,5.70,16165.0,-3.4,-10.67,27.0,-6.66,74.0,-7.4,99.58
22,Friday,2016-01-01 22:00:00,6.51,15701.0,-3.0,-10.54,26.0,-6.48,72.0,-7.4,99.61
23,Friday,2016-01-01 23:00:00,2.75,14866.0,-3.1,-10.28,28.0,-6.51,71.0,-7.6,99.60
24,Saturday,2016-01-02 00:00:00,0.00,14164.0,-3.6,-10.93,26.0,-6.76,70.0,-8.3,99.63
25,Saturday,2016-01-02 01:00:00,0.00,13251.0,-4.0,-11.44,26.0,-7.31,71.0,-8.5,99.62
26,Saturday,2016-01-02 02:00:00,0.00,12844.0,-3.2,-11.71,27.0,-7.01,65.0,-8.9,99.60
27,Saturday,2016-01-02 03:00:00,-0.85,12673.0,-3.2,-7.26,10.0,-6.96,67.0,-8.5,99.58
28,Saturday,2016-01-02 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Saturday,2016-01-02 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Saturday,2016-01-02 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Saturday,2016-01-02 07:00:00,-1.64,13064.0,-2.3,-7.94,18.0,-5.68,72.0,-6.7,99.36
32,Saturday,2016-01-02 08:00:00,-1.29,13780.0,-2.4,-7.38,15.0,-5.79,72.0,-6.8,99.37
33,Saturday,2016-01-02 09:00:00,3.61,14305.0,-2.1,-8.11,19.0,-5.50,74.0,-6.1,99.37
34,Saturday,2016-01-02 10:00:00,7.49,15068.0,-1.7,-8.19,22.0,-5.04,74.0,-5.7,99.41
35,Saturday,2016-01-02 11:00:00,12.36,15536.0,-1.5,-6.51,15.0,-4.77,75.0,-5.4,99.39
36,Saturday,2016-01-02 12:00:00,10.72,15852.0,-1.1,-7.43,22.0,-4.34,74.0,-5.2,99.28
37,Saturday,2016-01-02 13:00:00,11.25,16059.0,-0.8,-7.57,27.0,-4.02,73.0,-5.1,99.18
38,Saturday,2016-01-02 14:00:00,0.00,15750.0,-0.5,-6.54,22.0,-3.73,71.0,-5.1,99.13
39,Saturday,2016-01-02 15:00:00,0.00,15564.0,-0.5,-5.72,19.0,-3.68,69.0,-5.5,99.07
40,Saturday,2016-01-02 16:00:00,0.00,15571.0,-0.7,-5.97,19.0,-3.76,70.0,-5.5,99.05
41,Saturday,2016-01-02 17:00:00,2.96,16207.0,-0.8,-6.38,20.0,-4.03,69.0,-5.8,99.03
42,Saturday,2016-01-02 18:00:00,5.85,17163.0,-0.6,-6.81,23.0,-3.95,68.0,-5.8,99.04
43,Saturday,2016-01-02 19:00:00,5.60,17100.0,-0.5,-6.80,26.0,-3.65,70.0,-5.3,98.97
44,Saturday,2016-01-02 20:00:00,1.82,16710.0,-0.4,-7.15,29.0,-3.65,70.0,-5.2,98.88
45,Saturday,2016-01-02 21:00:00,0.00,16124.0,-0.1,-7.13,30.0,-3.16,74.0,-4.2,98.74
46,Saturday,2016-01-02 22:00:00,0.00,15699.0,0.3,-5.91,24.0,-2.69,74.0,-3.8,98.65
47,Saturday,2016-01-02 23:00:00,0.00,14983.0,0.1,-5.90,26.0,-2.77,75.0,-3.8,98.57
48,Sunday,2016-01-03 00:00:00,8.10,15533.0,-0.1,-5.79,23.0,-2.62,76.0,-3.8,98.54

In [21]:
df_orig.head(49)

,Date,Weekday,Hour,HOEP,Ontario_Demand,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station
0,2016-01-01,Friday,0:00:00,0.49,14023,-0.3,-5.62,20,-3.18,70,-5.1,99.67
1,2016-01-01,Friday,1:00:00,-1.09,13417,-0.3,-6.30,25,-3.48,68,-5.5,99.63
2,2016-01-01,Friday,2:00:00,-2.41,12968,-0.4,-6.55,26,-3.43,73,-4.7,99.59
3,2016-01-01,Friday,12:00:00,0.00,14215,-2.1,-8.72,23,-4.86,76,-5.8,99.39
4,2016-01-01,Friday,13:00:00,0.00,14443,-2.4,-8.23,19,-5.09,84,-4.7,99.35
5,2016-01-01,Friday,14:00:00,0.00,14733,-2.4,-9.96,32,-5.42,81,-5.2,99.32
6,2016-01-01,Friday,15:00:00,0.00,14907,-2.2,-9.75,29,-5.59,71,-6.8,99.34
7,2016-01-01,Friday,16:00:00,0.00,14981,-2.3,-9.51,27,-5.79,68,-7.4,99.38
8,2016-01-01,Friday,17:00:00,1.00,15763,-3.1,-11.19,35,-5.82,71,-7.6,99.41
9,2016-01-01,Friday,18:00:00,6.34,16979,-2.9,-11.19,35,-6.39,71,-7.4,99.48
10,2016-01-01,Friday,19:00:00,5.88,16859,-2.8,-10.41,28,-6.34,73,-7.0,99.54
11,2016-01-01,Friday,20:00:00,5.81,16552,-3.1,-10.16,26,-6.22,73,-7.3,99.57
12,2016-01-01,Friday,21:00:00,5.70,16165,-3.4,-10.67,27,-6.66,74,-7.4,99.58
13,2016-01-01,Friday,22:00:00,6.51,15701,-3.0,-10.54,26,-6.48,72,-7.4,99.61
14,2016-01-01,Friday,23:00:00,2.75,14866,-3.1,-10.28,28,-6.51,71,-7.6,99.60
15,2016-01-02,Saturday,0:00:00,0.00,14164,-3.6,-10.93,26,-6.76,70,-8.3,99.63
16,2016-01-02,Saturday,1:00:00,0.00,13251,-4.0,-11.44,26,-7.31,71,-8.5,99.62
17,2016-01-02,Saturday,2:00:00,0.00,12844,-3.2,-11.71,27,-7.01,65,-8.9,99.60
18,2016-01-02,Saturday,3:00:00,-0.85,12673,-3.2,-7.26,10,-6.96,67,-8.5,99.58
19,2016-01-02,Saturday,7:00:00,-1.64,13064,-2.3,-7.94,18,-5.68,72,-6.7,99.36
20,2016-01-02,Saturday,8:00:00,-1.29,13780,-2.4,-7.38,15,-5.79,72,-6.8,99.37
21,2016-01-02,Saturday,9:00:00,3.61,14305,-2.1,-8.11,19,-5.50,74,-6.1,99.37
22,2016-01-02,Saturday,10:00:00,7.49,15068,-1.7,-8.19,22,-5.04,74,-5.7,99.41
23,2016-01-02,Saturday,11:00:00,12.36,15536,-1.5,-6.51,15,-4.77,75,-5.4,99.39
24,2016-01-02,Saturday,12:00:00,10.72,15852,-1.1,-7.43,22,-4.34,74,-5.2,99.28
25,2016-01-02,Saturday,13:00:00,11.25,16059,-0.8,-7.57,27,-4.02,73,-5.1,99.18
26,2016-01-02,Saturday,14:00:00,0.00,15750,-0.5,-6.54,22,-3.73,71,-5.1,99.13
27,2016-01-02,Saturday,15:00:00,0.00,15564,-0.5,-5.72,19,-3.68,69,-5.5,99.07
28,2016-01-02,Saturday,16:00:00,0.00,15571,-0.7,-5.97,19,-3.76,70,-5.5,99.05
29,2016-01-02,Saturday,17:00:00,2.96,16207,-0.8,-6.38,20,-4.03,69,-5.8,99.03
30,2016-01-02,Saturday,18:00:00,5.85,17163,-0.6,-6.81,23,-3.95,68,-5.8,99.04
31,2016-01-02,Saturday,19:00:00,5.60,17100,-0.5,-6.80,26,-3.65,70,-5.3,98.97
32,2016-01-02,Saturday,20:00:00,1.82,16710,-0.4,-7.15,29,-3.65,70,-5.2,98.88
33,2016-01-02,Saturday,21:00:00,0.00,16124,-0.1,-7.13,30,-3.16,74,-4.2,98.74
34,2016-01-02,Saturday,22:00:00,0.00,15699,0.3,-5.91,24,-2.69,74,-3.8,98.65
35,2016-01-02,Saturday,23:00:00,0.00,14983,0.1,-5.90,26,-2.77,75,-3.8,98.57
36,2016-01-03,Sunday,0:00:00,8.10,15533,-0.1,-5.79,23,-2.62,76,-3.8,98.54
37,2016-01-03,Sunday,1:00:00,-0.35,13432,0.2,-7.07,32,-2.79,71,-4.5,98.44
38,2016-01-03,Sunday,7:00:00,-2.64,12973,0.6,-5.02,22,-2.37,73,-3.7,98.55
39,2016-01-03,Sunday,8:00:00,-0.25,13613,0.4,-4.59,19,-2.15,79,-2.8,98.61
40,2016-01-03,Sunday,9:00:00,-0.37,14155,1.1,-5.87,28,-1.81,72,-3.4,98.63
41,2016-01-03,Sunday,10:00:00,0.00,14696,1.4,-4.70,28,-1.56,69,-3.7,98.71
42,2016-01-03,Sunday,11:00:00,0.00,15182,1.6,-3.87,23,-1.17,73,-2.7,98.76
43,2016-01-03,Sunday,12:00:00,0.00,15434,0.0,-7.53,40,-1.29,70,-4.8,98.86
44,2016-01-03,Sunday,13:00:00,0.76,15650,-0.8,-8.38,39,-2.61,63,-7.0,98.90
45,2016-01-03,Sunday,14:00:00,0.00,15533,-1.4,-9.30,32,-3.88,63,-7.6,99.03
46,2016-01-03,Sunday,15:00:00,5.17,15602,-2.3,-9.24,28,-5.20,61,-8.8,99.15
47,2016-01-03,Sunday,16:00:00,5.89,15748,-3.1,-10.28,27,-5.65,65,-8.8,99.25
48,2016-01-03,Sunday,17:00:00,9.27,16863,-4.3,-12.75,36,-6.65,70,-9.0,99.38

In [23]:
ont_holidays=holidays.country_holidays('CA', 'ON')

In [25]:
ont_holidays

holidays.country_holidays('CA', subdiv='ON')

In [27]:
df.Datetime.dt.date

0        2016-01-01
1        2016-01-01
2        2016-01-01
3        2016-01-01
4        2016-01-01
            ...
43843    2020-12-31
43844    2020-12-31
43845    2020-12-31
43846    2020-12-31
43847    2020-12-31
Name: Datetime, Length: 43848, dtype: object

In [29]:
df['is_holiday'] = df.Datetime.dt.date.apply(lambda x: 1 if x in ont_holidays else 0)

In [31]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

In [33]:
categorical_columns

['Weekday']

In [35]:
encoder = OneHotEncoder(sparse_output=False)

# Apply one-hot encoding to the categorical columns
one_hot_encoded = encoder.fit_transform(df[categorical_columns])

#Create a DataFrame with the one-hot encoded columns
#Use get_feature_names_out() to get the column names for the encoded data
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

# Concatenate the one-hot encoded dataframe with the original dataframe
df_encoded = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical columns
df_encoded = df_encoded.drop('Weekday', axis=1)

In [37]:
df_encoded.head()

,Datetime,HOEP,Ontario_Demand,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
0,2016-01-01 00:00:00,0.49,14023.0,-0.3,-5.62,20.0,-3.18,70.0,-5.1,99.67,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-01-01 01:00:00,-1.09,13417.0,-0.3,-6.30,25.0,-3.48,68.0,-5.5,99.63,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2016-01-01 02:00:00,-2.41,12968.0,-0.4,-6.55,26.0,-3.43,73.0,-4.7,99.59,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## filling missing values

In [40]:
df_encoded.shape

(43848, 18)

In [42]:
df_encoded.isnull().sum()

Datetime                0
HOEP                 4443
Ontario_Demand       4443
Temperature          4443
Windchill_Index      4443
Wind_Speed           4443
Humidex              4443
Relative_Humidity    4443
Dew_Point            4443
Pressure_Station     4443
is_holiday              0
Weekday_Friday          0
Weekday_Monday          0
Weekday_Saturday        0
Weekday_Sunday          0
Weekday_Thursday        0
Weekday_Tuesday         0
Weekday_Wednesday       0
dtype: int64

10% missing values 

let use a linear interpolation function for filling missing values

In [45]:
df_encoded.set_index('Datetime', inplace=True)

In [47]:
#for later checking whether nans are replaced 
nan_demand = df_encoded[df_encoded['Ontario_Demand'].isnull()==True].index

nan_demand

DatetimeIndex(['2016-01-01 03:00:00', '2016-01-01 04:00:00',
               '2016-01-01 05:00:00', '2016-01-01 06:00:00',
               '2016-01-01 07:00:00', '2016-01-01 08:00:00',
               '2016-01-01 09:00:00', '2016-01-01 10:00:00',
               '2016-01-01 11:00:00', '2016-01-02 04:00:00',
               ...
               '2020-12-10 10:00:00', '2020-12-17 08:00:00',
               '2020-12-17 13:00:00', '2020-12-17 18:00:00',
               '2020-12-17 19:00:00', '2020-12-17 21:00:00',
               '2020-12-17 22:00:00', '2020-12-18 08:00:00',
               '2020-12-18 09:00:00', '2020-12-31 18:00:00'],
              dtype='datetime64[ns]', name='Datetime', length=4443, freq=None)

In [49]:
df_final = df_encoded.interpolate(method='linear', axis=0)

In [51]:
duplicated_rows_bool =df_final.index.duplicated()

In [53]:
sum(duplicated_rows_bool)

0

In [55]:
df_final.isnull().sum()

HOEP                 0
Ontario_Demand       0
Temperature          0
Windchill_Index      0
Wind_Speed           0
Humidex              0
Relative_Humidity    0
Dew_Point            0
Pressure_Station     0
is_holiday           0
Weekday_Friday       0
Weekday_Monday       0
Weekday_Saturday     0
Weekday_Sunday       0
Weekday_Thursday     0
Weekday_Tuesday      0
Weekday_Wednesday    0
dtype: int64

In [57]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43848 entries, 2016-01-01 00:00:00 to 2020-12-31 23:00:00
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HOEP               43848 non-null  float64
 1   Ontario_Demand     43848 non-null  float64
 2   Temperature        43848 non-null  float64
 3   Windchill_Index    43848 non-null  float64
 4   Wind_Speed         43848 non-null  float64
 5   Humidex            43848 non-null  float64
 6   Relative_Humidity  43848 non-null  float64
 7   Dew_Point          43848 non-null  float64
 8   Pressure_Station   43848 non-null  float64
 9   is_holiday         43848 non-null  int64
 10  Weekday_Friday     43848 non-null  float64
 11  Weekday_Monday     43848 non-null  float64
 12  Weekday_Saturday   43848 non-null  float64
 13  Weekday_Sunday     43848 non-null  float64
 14  Weekday_Thursday   43848 non-null  float64
 15  Weekday_Tuesday    43848 non-null  float64
 16  Weekday_Wednesday  43848 non-null  float64
dtypes: float64(16), int64(1)
memory usage: 7.0 MB

In [59]:
#look at the interapolated values 
df_interpolate=df_final[df_final.index.isin(nan_demand)]

In [61]:
df_interpolate.head(6)

,HOEP,Ontario_Demand,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
Datetime,,,,,,,,,,,,,,,,,
2016-01-01 03:00:00,-2.169,13092.7,-0.57,-6.767,25.7,-3.573,73.3,-4.81,99.57,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 04:00:00,-1.928,13217.4,-0.74,-6.984,25.4,-3.716,73.6,-4.92,99.55,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 05:00:00,-1.687,13342.1,-0.91,-7.201,25.1,-3.859,73.9,-5.03,99.53,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 06:00:00,-1.446,13466.8,-1.08,-7.418,24.8,-4.002,74.2,-5.14,99.51,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 07:00:00,-1.205,13591.5,-1.25,-7.635,24.5,-4.145,74.5,-5.25,99.49,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 08:00:00,-0.964,13716.2,-1.42,-7.852,24.2,-4.288,74.8,-5.36,99.47,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
df_final.head(6)

,HOEP,Ontario_Demand,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
Datetime,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,0.490,14023.0,-0.30,-5.620,20.0,-3.180,70.0,-5.10,99.67,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 01:00:00,-1.090,13417.0,-0.30,-6.300,25.0,-3.480,68.0,-5.50,99.63,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 02:00:00,-2.410,12968.0,-0.40,-6.550,26.0,-3.430,73.0,-4.70,99.59,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 03:00:00,-2.169,13092.7,-0.57,-6.767,25.7,-3.573,73.3,-4.81,99.57,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 04:00:00,-1.928,13217.4,-0.74,-6.984,25.4,-3.716,73.6,-4.92,99.55,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 05:00:00,-1.687,13342.1,-0.91,-7.201,25.1,-3.859,73.9,-5.03,99.53,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
column = df_final.pop('Ontario_Demand') 
 
df_final.insert(0, 'Ontario_Demand', column)

In [67]:
df_final.head()

,Ontario_Demand,HOEP,Temperature,Windchill_Index,Wind_Speed,Humidex,Relative_Humidity,Dew_Point,Pressure_Station,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
Datetime,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,14023.0,0.490,-0.30,-5.620,20.0,-3.180,70.0,-5.10,99.67,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 01:00:00,13417.0,-1.090,-0.30,-6.300,25.0,-3.480,68.0,-5.50,99.63,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 02:00:00,12968.0,-2.410,-0.40,-6.550,26.0,-3.430,73.0,-4.70,99.59,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 03:00:00,13092.7,-2.169,-0.57,-6.767,25.7,-3.573,73.3,-4.81,99.57,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 04:00:00,13217.4,-1.928,-0.74,-6.984,25.4,-3.716,73.6,-4.92,99.55,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
## apply PCA pipeline to the set of features related to the weather.

#initate a min max scaler
minmax = MinMaxScaler()

#initate a PCA object 
pca = PCA(n_components=2)

#initate the pipeline for pca
pca_pipe = make_pipeline(pca, minmax)

sel_cols = ['HOEP','Temperature','Windchill_Index','Wind_Speed','Humidex','Relative_Humidity','Dew_Point','Pressure_Station']

pca_sel = pca_pipe.fit_transform(df_final[sel_cols])

#make dataframe with the transformed weather pca
pca_sel_df = pd.DataFrame(pca_sel, index=df_final.index, columns=['pca1', 'pca2'])

In [81]:
pca_sel_df.shape

(43848, 2)

In [83]:
df_final.shape

(43848, 17)

In [85]:
df_pca = df_final.drop(sel_cols, axis=1)

In [87]:
df_pca.head(1)

,Ontario_Demand,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
Datetime,,,,,,,,,
2016-01-01,14023.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
df_pca.insert(1, "pca1", pca_sel_df['pca1'])

In [91]:
df_pca.head(1)

,Ontario_Demand,pca1,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
Datetime,,,,,,,,,,
2016-01-01,14023.0,0.592382,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
df_pca.insert(2, "pca2", pca_sel_df['pca2'])

In [95]:
df_pca.head()

,Ontario_Demand,pca1,pca2,is_holiday,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
Datetime,,,,,,,,,,,
2016-01-01 00:00:00,14023.0,0.592382,0.395017,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 01:00:00,13417.0,0.598022,0.423531,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 02:00:00,12968.0,0.601944,0.370056,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 03:00:00,13092.7,0.604428,0.367016,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-01 04:00:00,13217.4,0.606912,0.363976,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
df_pca.to_csv('./data/clean_data_ondemand_pca.csv')